<!DOCTYPE html>
<html>
<head>
    <title>Mythri Consulting</title>
     <meta charset="utf-8" />
    <script src="libraries/angular.js"></script>
    <script type="text/javascript">
        angular.module('myApp', []);
    </script>
    <style type="text/css">
        div{
            border: 1px solid black;
            width:400px;
            height:250px;
            padding:20px;
            text-align: center;
            margin-top:180px;
            margin-left: 350px;
            background-color: gray;
        }
    </style>
</head>
<body ng-app="myApp">
        <header style="background-color: black;">
            <img src="Images/~logo.png"></img>
        </header>
  		<div>
			 <label style="padding-right:95px;">User Name</label><br>
			 <input type="text" id="username" name="username" ng-model="username" required></input><br><br>
			 <label style="padding-right:70px;">Email Address:</label><br>
			 <input type="email" name="userEmail" ng-model="email" required /><br><br>
			 <label style="padding-right:108px;">Password</label><br>
			 <input type="password" id="password" name="password" ng-model="password" required></input><br><br>
			 <label style="padding-right:65px;">Verify Password</label><br>
			 <input type="password" id="password" name="password" ng-model="password" required></input><br><br>
			 <a href="index.html"><button>Submit</button></a>
</body>
</html>
