<!DOCTYPE html>
<html  ng-app="myApp">
<head>
    <title>Mythri Consulting</title>
     <meta charset="utf-8" />
        <script type="text/javascript">
       var app= angular.module('myApp', []);
    app.controller('mycontroller',function($scope,$http){
        //$scope.message="";
            $scope.reset=function(){
                alert("Username and password are sent through mail");
                
            $http.post('/reset',{"email":$scope.email}).then(function(data){
                console.log("success"+data);
            }).catch(function(error){
            console.log(error);
         });
        }
    });
    </script>
</head>
<body ng-controller="mycontroller">
        <header style="background-color: black;">
            <img src="Images/~logo.png"></img>
            <span style="float:right;color:white;padding-top:15px;">Webmail</span> 
        </header>
        <label>Email</label><br>
        <input type="email" id="email" name="email" ng-model="email" required></input><br>
        <a href="./reset"><button ng-click="reset()">Submit</button></a>
    </div>
</body>
</html>